{% extends 'blog_user/base.html' %}

{% block content %}

<style>
    .content{
        padding: 20px;
        border: 1px solid darkblue;
    }
    .posts{
        border: 1px solid darkblue;
        padding: 15px;
        max-width: 300px;
        margin: 15px;
    }
    .posts p{
    }

    .container{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        background-color: rgb(243, 243, 243);
    }
    h3{
        margin: 15px;
    }
</style>

<div class="content">
    <h3>Hello, {{request.user}}</h3>
</div>

<div class="add-post">
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}

        <button type="submit">Post</button>
    </form>
</div>


<hr>

<div class="container">
    <div>
        <h3>My Posts</h3>
        {% for post in posts %}
            <div class="posts">
                <h4>{{ post.title }}</h4>
                <p>{{ post.content }}</p>
                <br>
                <p>Posted {{ post.created_at | timesince }} ago</p>
                <a href="{% url 'edit_blog' post.id %}">Edit</a>
            </div>
        {% endfor %}
    </div>

    <div>
        <h3>Friends</h3>
        {% for friend in friends %}
            <li><a href="{% url 'friend' friend.id %}">{{ friend.user.username }}</a></li>
        {% empty %}
            <p>No friends</p>
        {% endfor %}
    </div>

    <div class="blocks">
        <h3>More Friends</h3>
        <br>
        
        {% for user in all_users %}
                <li>{{ user.username }}</li>
                <button><a href="{% url 'send_req' user.id %}">Send request</a></button>
        {% endfor %}
    </div>

    <div class="blocks">
        <h3>Accept Requests</h3>
        <br>
        {% for user in can_acc_frm %}
            <li>{{ user.username }}</li>
            <button><a href="{% url 'accept_req' user.id %}">Accept</a></button>
        {% endfor %}
    </div>

</div>






{% endblock %}